@charset "UTF-8";
/* 
	所有的字体默认为14px
	字体在14px-16px之间
	图标字体大小看情况
	颜色参考：http://colrd.com/palette/18981/
*/
* {
  font-size: 14px;
  font-family: Arial, Verdana, Sans-serif; }

a, a:hover {
  text-decoration: none !important; }

ul, li {
  list-style: none !important; }

.my-navbar {
  margin: 0;
  height: auto;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #2b8cbe !important; }

.my-navbar-mobile-menu {
  margin-top: 13px;
  padding: 0;
  border: 0 !important;
  background-color: #2b8cbe !important; }

.my-navbar-mobile-menu-glyphicon {
  font-size: 25px;
  color: white;
  background-color: #2b8cbe; }

.my-navbar-brand {
  margin-top: 20px; }

.my-navbar-brand-title {
  font-size: 25px;
  color: white; }

.my-navbar-brand-glyphicon {
  font-size: 22px;
  color: white; }

.my-navbar-btn {
  margin: 15px 9px 15px 9px;
  padding: 0px;
  width: 78px;
  height: auto;
  border-radius: 11px; }

.my-navbar-btn-glyphicon {
  margin-top: 10px;
  font-size: 22px;
  color: white !important; }

.my-navbar-btn-title {
  margin-top: 0;
  color: white !important; }

.main-container {
  overflow: hidden; }

.my-sidebar {
  float: left;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  width: 200px;
  background-color: #f2f2f2; }

.my-sidebar-sub {
  display: none; }

.my-sidebar-userinfo {
  border-radius: 0 !important; }
  .my-sidebar-userinfo .my-sidebar-userinfo-title {
    font-size: 15px !important; }

.my-sidebar-header {
  border-radius: 0 !important;
  background-color: #efefef !important; }
  .my-sidebar-header .my-sidebar-header-title {
    font-size: 19px !important; }
  .my-sidebar-header .my-sidebar-header-glyphicon {
    float: right;
    font-size: 13px !important; }

.my-sidebar-btn {
  border-radius: 0 !important; }
  .my-sidebar-btn > a > .my-sidebar-btn-title,
  .my-sidebar-btn > a > .my-sidebar-btn-glyphicon {
    font-size: 16px; }

.my-sidebar-subbtn {
  border-radius: 0 !important; }
  .my-sidebar-subbtn > a > .my-sidebar-subbtn-title,
  .my-sidebar-subbtn > a > .my-sidebar-subbtn-glyphicon {
    color: black !important;
    font-size: 14px; }

.main-content {
  margin-left: 200px;
  padding: 0;
  min-height: 780px;
  overflow: hidden; }

.breadcrumb {
  margin-bottom: 0; }
  .breadcrumb span {
    font-size: 15px !important; }
  .breadcrumb li {
    font-size: 15px !important;
    border-radius: 0 !important; }
    .breadcrumb li a {
      font-size: 15px !important; }

.content {
  padding: 25px; }

.wechatHoli {
  background-color: #2b8cbe; }

.my-wechatHoli-content {
  padding: 30px 37px 37px 37px; }

.my-wechatHoli-header {
  padding-top: 60px;
  font-size: 60px;
  color: white; }

.my-wechatHoli-panel {
  padding: 40px 20px 20px 20px; }

.my-wechatHoli-btn {
  margin-bottom: 20px;
  color: white;
  background-color: #24749e; }

.my-wechatHoli-btn-glyphicon {
  font-size: 24px;
  color: white; }

.my-wechatHoli-btn-title {
  font-size: 32px;
  line-height: 90px;
  /* 设置单行文字垂直居中 */ }

.my-wechatHoli-returnBtn {
  display: block;
  margin: 12px auto auto 12px;
  width: 52px;
  background-color: #24749e;
  border-radius: 6px; }

.my-wechatHoli-returnBtn-title {
  font-size: 16px;
  color: white;
  line-height: 28px; }

.form-control {
  background-color: white !important;
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.input-group-addon {
  background-color: white !important;
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.my-wechatHoli-table {
  overflow-y: scroll; }
  .my-wechatHoli-table thead {
    border-bottom: 2px solid white !important; }
  .my-wechatHoli-table tr {
    border-bottom: 2px solid white !important; }
  .my-wechatHoli-table tr:last-child {
    border-bottom: 0px solid white !important; }
  .my-wechatHoli-table td {
    padding: 7px;
    font-size: 17px;
    color: white; }

.datetimepicker-dropdown-bottom-right:before {
  top: -7px;
  left: 153px; }

.datetimepicker-dropdown-bottom-right:after {
  top: -6px;
  left: 154px;
  right: 43px; }

@media screen and (max-width: 768px) {
  .my-navbar-brand {
    margin-top: 0;
    color: white !important; }

  .my-navbar-brand-title {
    font-size: 20px; }

  .my-navbar-brand-glyphicon {
    font-size: 17px; }

  .my-navbar-btn {
    margin-top: 5px;
    margin-left: 17px;
    padding: 0px;
    width: 78px;
    height: auto;
    border-radius: 11px; }

  .my-navbar-btn-glyphicon {
    margin-top: 10px;
    font-size: 27px;
    color: white !important; }

  .my-navbar-btn-title {
    margin-top: 0;
    color: white !important; }

  .my-sidebar {
    float: none !important;
    position: static !important;
    margin: 0;
    padding: 0;
    width: auto !important;
    height: auto !important; }

  .my-sidebar-header .my-sidebar-header-title {
    font-size: 16px !important; }
  .my-sidebar-header .my-sidebar-header-glyphicon {
    position: relative;
    top: 4px;
    right: 5px;
    font-size: 16px !important;
    color: #95A5A6 !important; }

  .my-sidebar-btn {
    border-left: 0 !important;
    border-right: 0 !important; }
    .my-sidebar-btn a .my-sidebar-btn-title,
    .my-sidebar-btn a .my-sidebar-btn-glyphicon {
      font-size: 15px; }

  .main-content {
    margin-left: 0 !important;
    min-height: 0 !important; }

  .content {
    padding: 0; }

  .my-notice-table td {
    font-size: 15px !important; } }

/*# sourceMappingURL=style.css.map */
