@import "rules.scss";
/* 
	所有的字体默认为14px
	字体在14px-16px之间
	图标字体大小看情况
	颜色参考：http://colrd.com/palette/18981/
*/

*{
	font-size: 14px;
	font-family: Arial, Verdana, Sans-serif;
}

body{
	padding: 0 !important;
}

a, a:hover{
	text-decoration: none !important;
}

ul, li{
	list-style: none !important;
}

// 登陆页面
.login-main{
	padding: 0;
	width: 100%;
}

.login-leftPhotos{
	float: left;
	width: 70%;
	overflow: hidden;
}

.login-rightLogin{
	float: left;
	width: 30%;
	height: 100%;
	@include bgc(#6db8de);
/* 	overflow: hidden;  */
}

// 导航栏 Start 
.my-navbar {
	margin: 0;
	height: auto;
	@include no-border;
	@include no-border-radius;
	@include bgc(#2b8cbe);
}

// button:用于包裹mobile的menu按钮
.my-navbar-mobile-menu{
	margin-top: 13px;
	padding: 0;
	@include no-border;
	@include bgc(#2b8cbe);
}

// mobile的menu按钮
.my-navbar-mobile-menu-glyphicon{
	@include mobile-menu-glyphicon;
}

.my-navbar-brand{
	margin-top: 20px;
}

.my-navbar-brand-title{
	@include my-navbar-brand-title;
}

.my-navbar-brand-glyphicon{
	@include my-navbar-brand-glyphicon
}

.my-navbar-btn{
	margin: 15px 9px 15px 9px;
	padding: 0px;
	width: 78px;
	height: auto;
	border-radius: 11px;
}

.my-navbar-btn-glyphicon{
	margin-top: 10px;
	font-size: 22px;
	@include color(white);
}

.my-navbar-btn-title{
	margin-top: 0;
	@include color(white);
}
// 导航栏 End

// 主容器 Start
.main-container{
	overflow: hidden;
}
// 主容器 End

// 侧边栏 Start
.my-sidebar{
	float: left;
	margin-bottom: -3000px;
	padding-bottom: 3000px;
	width: 200px;
	background-color: #f2f2f2;
}

// 侧边栏的子栏
.my-sidebar-sub{
	display: none;
}

.my-sidebar-userinfo{	
	@include no-border-radius;
	.my-sidebar-userinfo-title{
		font-size: 15px !important;
	}
}

.my-sidebar-header{
	@include no-border-radius;
	@include bgc(rgb(239,239,239));
	
	.my-sidebar-header-title{
		font-size: 19px !important;
	}
	.my-sidebar-header-glyphicon{
		float: right;
		font-size: 13px !important;
	}
}

.my-sidebar-btn{
	// 去掉 bs中的list-group-item的圆角
	@include my-sidebar-btn;
}

.my-sidebar-subbtn{
	@include my-sidebar-subbtn;
}
// 侧边栏 End

// .main-content Start
// .main-content的padding不需要设置
.main-content{
  	margin-left: 200px;
  	padding: 0;
  	min-height: 780px;
  	overflow: hidden; // 必须设置，不然会出现神经病错误...
}

.breadcrumb{
	span{
		@include breadcrumb-font-size;
	}
	li{
		@include breadcrumb-font-size;
		@include no-border-radius;		

		a{
			@include breadcrumb-font-size;
		}
	}	
	margin-bottom: 0;
}

// 设置.content的padding，以保持排版的一致
.content{
	padding: 25px;
}
// .main-content End

// 零碎部件 Start

// 零碎部件 End

// 微信请假 Start
// 主体内容
.my-wechatHoli-content{
	padding: 10px;
}

// 微信请假入口界面
.my-wechatHoli-navtext{
	font-size: 22px;
	color: black !important;
}

.my-wechatHoli-panel{
	padding: 50px;
}

.my-wechatHoli-btn{
	margin-bottom: 20px;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 6px;
}

.my-wechatHoli-btn-glyphicon{
	font-size: 24px;
	color: black;	
}

.my-wechatHoli-btn-title{
	font-size: 32px;
	line-height: 86px; /* 设置单行文字垂直居中 */
}

// 返回按钮
.my-wechatHoli-returnBtn{
	margin-left: 16px;
	*{
		color: black !important; 
	}
}

// 时间选择器的标头位置
.datetimepicker-dropdown-bottom-right:before{
	display: none !important;
}

.datetimepicker-dropdown-bottom-right:after{
	display: none !important;
}
// 微信请假 End


// 响应式 Start
@media screen and (max-width: 768px){
	.my-navbar-brand{
		margin-top: 0;
		@include color(white);
	}
	
	.my-navbar-brand-title{
		font-size: 20px;
	}
	
	.my-navbar-brand-glyphicon{
		font-size: 17px;
	}
	
	.my-navbar-btn{
		margin-top: 5px;
		margin-left: 17px;
		padding: 0px;
		width: 78px;
		height: auto;
		border-radius: 11px;
	}
	
	.my-navbar-btn-glyphicon{
		margin-top: 10px;
		font-size: 27px;
		@include color(white);
	}

	.my-navbar-btn-title{
		margin-top: 0;
		@include color(white);
	}
	
	.my-sidebar{
		float: none !important;
		position: static !important;
		margin: 0;
		padding: 0;
		width: auto !important;
		height: auto !important;	
	}
	
	.my-sidebar-header{
		.my-sidebar-header-title{
			font-size: 16px !important;
		}
		.my-sidebar-header-glyphicon{
			position: relative;	
			top: 4px;
			right: 5px;
			font-size: 16px !important;
			@include color(#95A5A6);
		}
	}
	
	.my-sidebar-btn{
		border-left: 0 !important;
		border-right: 0 !important;
		a{
			.my-sidebar-btn-title,
			.my-sidebar-btn-glyphicon{
				font-size: 15px;
			}
		}
	}
	
	.main-content {
		margin-left: 0 !important;
		min-height: 0 !important;
	}
	
	.content{
		padding: 0;
	}
	
	// 零碎部件响应式 Start
	.my-notice-table td{
		font-size: 15px !important;
	}
	// 零碎部件响应式 End
} 
// 响应式 End






