<div class="table-responsive my-notice-table">
	<table class="table table-bordered table-hover">
		<thead>
			<tr class="info">
				<td>id</td>
				<td>module</td>
				<td>type</td>
				<td>title</td>
				<td>level</td>
				<td>status</td>
				<td>status_text</td>
			</tr>
			
		</thead>
		<tbody>
			<% for (var i = 0; i < data.length; i++) { %>
				<tr>
					<% _.each(data[i], function (value, key){ %>
						<% if (key !== "rules" && key !== "_use_tip" && key !== "meta_title " && key !== "description") {%>			
							<td>
								<%= value %>
							</td>
						<% } %>
					<% }); %>						
				</tr>	
			<% } %>
		</tbody>
	</table>
</div>