<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>微信请假</title>
	<meta charset='utf-8'>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
		
	<script type="text/template" id="appView">
		<p class="text-center my-wechatHoli-header">微信请假</p>
		<ul class="text-center my-wechatHoli-panel">
			<a href="#apply">
				<li class="my-wechatHoli-btn">
					<span class="glyphicon glyphicon-plus my-wechatHoli-btn-glyphicon"></span> 
					<span class="my-wechatHoli-btn-title">请假申请</span>	
				</li>
			</a>
			<a href="#result">
				<li class="my-wechatHoli-btn">
					<span class="glyphicon glyphicon-search my-wechatHoli-btn-glyphicon"></span> 
					<span class="my-wechatHoli-btn-title">查看结果</span>
				</li>
			</a>
		</ul>
	</script>
	
	<script type="text/template" id="applyView">
		<div class="panel panel-primary my-wechatHoli-content">
			<div class="panel-heading">	
				请假申请
				<a class="btn btn-primary btn-xs my-wechatHoli-returnBtn" role="button">返回</a>
			</div>	
			<div class="panel-body">
				<form action="" method="" role="form">
					<ul class="list-group">
						<li class="list-group-item">
							<h5 class="list-group-item-heading">开始时间：</h5>
							<div class="list-group-item-text">
								<div class="form-group">
						            <div class="input-group date form_datetime">
						                <input class="form-control my-wecharHoli-formDatetimeBg" id="timeBg" type="text" name="dataTimeBg" data-link-field="timeBg" readonly>
						                <span class="input-group-addon my-dataPikrRm">
						                	<span class="glyphicon glyphicon-remove"></span>
						                </span>
						            </div>
						        </div>	
							</div>
						</li>
						<li class="list-group-item">
							<h5 class="list-group-item-heading">结束时间：</h5>
							<div class="list-group-item-text">
								<div class="form-group">
						            <div class="input-group date form_datetime">
						                <input class="form-control my-wecharHoli-formDatetimeEd" id="timeEd" type="text" name="dataTimeEd" data-link-field="timeEd" readonly>
						                <span class="input-group-addon my-dataPikrRm">
						                	<span class="glyphicon glyphicon-remove"></span>
						                </span>
						            </div>
						        </div>
							</div>
						</li>
						<li class="list-group-item">
							<h5 class="list-group-item-heading">请假类型：</h5>
							<div class="list-group-item-text">
								<div class="form-group">
									<div class="radio">
										<label class="radio-inline">
											<input type="radio" name="holiKind" value="shijia" checked>
											事假
										</label>
									</div>
									<div class="radio">
										<label class="radio-inline">
											<input type="radio" name="holiKind" value="bingjia" checked>
											病假
										</label>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<h5 class="list-group-item-heading">家长是否知情：</h5>
							<div class="list-group-item-text">
								<div class="form-group">
									<div class="radio">
										<label class="radio-inline">
											<input type="radio" name="isFamilyKonw" value="0" checked>
											 家长知情
										</label>
									</div>
									<div class="radio">
										<label class="radio-inline">
											<input type="radio" name="isFamilyKonw" value="1" checked>
											家长不知情
										</label>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<h5 class="list-group-item-heading">紧急联系人姓名：</h5>
							<div class="list-group-item-text">
								<div class="form-group">
								    <input type="text" class="form-control input-sm" name="EmergencyContactName">
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<h5 class="list-group-item-heading">紧急联系人电话：</h5>
							<div class="list-group-item-text">
								<div class="form-group">
								    <input class="form-control input-sm" type="text" name="EmergencyContactPhone">
								</div>
							</div>
						</li>
						
						<li class="list-group-item">
							<h5 class="list-group-item-heading">请假事由：</h5>
							<div class="list-group-item-text">
								<textarea class="form-control" rows="2" name="reason"></textarea>
							</div>
						</li>
					</ul>
					<button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="resultView">
		<div class="panel panel-primary my-wechatHoli-content">
			<div class="panel-heading">
				查看结果
				<a class="btn btn-primary btn-xs my-wechatHoli-returnBtn" role="button">返回</a>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="resultItemView">
		<td>
			<%= timeRange %>
		</td>
		<td>
			<a data-toggle="modal" data-target="#myModal"><%= isAllow %></a>
		</td>
	</script>

	<script type="text/template" id="detailsView">
		<div class="panel panel-primary my-wechatHoli-content">
			<div class="panel-heading">
				详情
				<a class="btn btn-primary btn-xs my-wechatHoli-returnBtn" role="button">返回</a>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						<h5 class="list-group-item-heading">请假结果：</h4>
						<p class="list-group-item-text">
							<%= isAllow %> 
						</p>
					</li>
					<li class="list-group-item">
						<h5 class="list-group-item-heading">请假时间：</h4>
						<p class="list-group-item-text">
							<%= timeRange %>
						</p>
					</li>
					<li class="list-group-item">
						<h5 class="list-group-item-heading">请假类型：</h4>
						<p class="list-group-item-text">
							<%= kind %>
						</p>
					</li>
					<li class="list-group-item">
						<h5 class="list-group-item-heading">请假事由：</h4>
						<p class="list-group-item-text">
							<%= reason %>
						</p>
					</li>
				</ul>				
			 </div>	
		 </div>
	</script>
	<script src="../../scripts/lib/jquery-2.1.1.min.js"></script>
	<script src="../../scripts/lib/underscore-min.js"></script>
	<script src="../../scripts/lib/backbone-min.js"></script>
	<script src="../../scripts/lib/bootstrap.min.js"></script>
	<script src="../../scripts/lib/bootstrap-datetimepicker.min.js"></script>
	<script src="../../scripts/lib/backbone.localStorage.js"></script>
	<script src="../../scripts/module/common.wechat.js"></script>
</body>
</html>